{# templates/base.html #}
{% extends "bootstrap5/base.html" %}
{% load cms_tags menu_tags static i18n sekizai_tags %}
{% block base_css %}
    {{ block.super }}
    {# --- Load Custom CSS --- #}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">{% block brand %}Just Media{% endblock %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% block menubar %}{% show_menu 0 100 100 100 'bootstrap5/menu.html' %}{% endblock %}
                </ul>

                {# --- Search Form in Navbar --- #}
                <form class="d-flex ms-auto me-3" role="search" action="{% url 'catalog:mediaitem_search' %}"
                      method="get">
                    <input class="form-control form-control-sm me-2" type="search" name="q"
                           value="{{ search_query|default:'' }}" placeholder="{% trans 'Search Catalog...' %}"
                           aria-label="Search">
                    <button class="btn btn-outline-success btn-sm" type="submit">{% trans 'Search' %}</button>
                </form>
                {# --- End Search Form --- #}

                <div class="d-flex align-items-center">
                    <button id="theme-switcher-btn" class="btn btn-outline-secondary btn-sm" type="button"
                            aria-label="{% trans 'Toggle theme' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-circle-half" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
                        </svg>
                        <span class="d-none d-md-inline ms-1" id="theme-switcher-text"></span>
                    </button>
                </div>

            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block base_js %}
    {{ block.super }}
    <script src="{% static 'js/theme_switcher.js' %}" defer></script>
{% endblock %}

{% block extra_js %}{% endblock %}
{% block bottom_css %}{% endblock %}