{# catalog/templates/catalog/includes/pagination_simple.html #}
{# Simple pagination without preserving query parameters #}
{% load i18n %}
{% if is_paginated %}
    <nav aria-label="Page navigation simple" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">« {% trans "first" %}</a></li>
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">« {% trans "first" %}</span></li>
                <li class="page-item disabled"><span class="page-link">{% trans "previous" %}</span></li>
            {% endif %}

            <li class="page-item active" aria-current="page">
            <span class="page-link">
            {% blocktrans trimmed with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}
                Page {{ current_page }} of {{ total_pages }}
            {% endblocktrans %}
            </span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a></li>
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} »</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">{% trans "next" %}</span></li>
                <li class="page-item disabled"><span class="page-link">{% trans "last" %} »</span></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}